<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <title th:replace="fragments :: title">Pilotos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<!-- Navbar -->
<div th:replace="fragments :: navbar"></div>

<div class="mb-3">
    <a href="/paddock/nuevo" class="btn btn-success">➕ Nuevo Piloto</a>
</div>


<div class="d-flex flex-wrap justify-content-center">
    <div th:each="piloto : ${pilotos}">
        <div th:replace="fragments :: cardPiloto(
            titulo=${piloto.nombre + ' (' + piloto.equipo + ')'},
            descripcion=${piloto.descripcion},
            imagen=${piloto.imagen},
            acciones=${'&lt;a href=&quot;/paddock/editar/' + piloto.id + '&quot; class=&quot;btn btn-sm btn-light me-2&quot;&gt;Editar&lt;/a&gt;' +
                      '&lt;a href=&quot;/paddock/eliminar/' + piloto.id + '&quot; class=&quot;btn btn-sm btn-outline-light&quot;&gt;Eliminar&lt;/a&gt;'},
            equipo=${piloto.equipo}
        )"></div>
    </div>
</div>



<div th:replace="fragments :: footer"></div>


<div th:replace="fragments :: scripts"></div>

</body>
</html>
