<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8" />
    <title th:replace="fragments :: title">Pilotos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<!-- Navbar -->
<div th:replace="fragments :: navbar"></div>

<div class="container mt-4">
    <h1>Pilotos en el Paddock</h1>
    <div class="d-flex flex-wrap">
        <div th:each="piloto : ${pilotos}">
            <div th:replace="fragments :: card(
            titulo=${piloto.nombre},
            descripcion=${piloto.equipo},
            imagen=${piloto.imagen},
            enlace=@{'/paddock/editar/' + ${piloto.id}}
            )"></div>
        </div>

    </div>
</div>


<div th:replace="fragments :: footer"></div>


<div th:replace="fragments :: scripts"></div>

</body>
</html>
