<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:fragment="title">KGDs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<!-- Navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" >KGDs </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/paddock/home">Fórmula 1</a></li>
                <li class="nav-item"><a class="nav-link" href="/r6/home">Rainbow 6</a></li>
                <li class="nav-item"><a class="nav-link" href="/futbol/home">Futbol</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>

<footer class="bg-dark text-white pt-4 pb-2 mt-auto">
    <div class="container">
        <div class="row">

            <!-- Descripción -->
            <div class="col-md-4 mb-3">
                <h4 class="fw-bold">KGD's WEB APPLICATION</h4>
                <p class="text-muted">Explora y guarda tus personajes favoritos de Formula 1, Rainbow 6 Siege y Fútbol.</p>
            </div>

            <!-- Navegación -->
            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">Navegación</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white text-decoration-none">Inicio</a></li>
                    <li><a href="/paddock/home" class="text-white text-decoration-none">Pilotos Formula 1</a></li>
                    <li><a href="/r6/home" class="text-white text-decoration-none">Operadores Rainbow 6</a></li>
                    <li><a href="/soccer/home" class="text-white text-decoration-none">Futbolistas</a></li>
                </ul>
            </div>

            <!-- Contacto -->
            <div class="col-md-4 mb-3">
                <h5 class="text-uppercase">Contacto</h5>
                <p class="mb-1"><strong>Email:</strong>  contacto@kgds.dev</p>
                <p class="mb-1"><strong>Tel:</strong> +52 123 456 7890</p>
                <p><strong>GitHub:</strong> <a class="text-white text-decoration-none">/kgdapp</a></p>
            </div>

        </div>

        <hr class="bg-secondary">
        <div class="text-center text-muted small">
            &copy; 2025 KGD's Web Application. Todos los derechos reservados.
        </div>
    </div>
</footer>

<!-- JS -->
<div th:fragment="scripts">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</div>

<!-- Card fragment -->
<div th:fragment="card(titulo, descripcion, imagen)">
    <div class="card m-2" style="width: 18rem;">
        <img th:src="${imagen}" class="card-img-top" alt="Imagen de card">
        <div class="card-body">
            <h5 class="card-title" th:text="${titulo}">Título</h5>
            <p class="card-text" th:text="${descripcion}">Descripción</p>

            <div th:if="${acciones != null}">
                <div th:utext="${acciones}"></div>
            </div>
        </div>
    </div>
</div>



<div th:fragment="cardPiloto(titulo, descripcion, imagen, acciones, equipo)">
    <div class="card m-2 text-white"
         style="width: 18rem;"
         th:classappend="${equipo == 'Red Bull' ? ' bg-primary' :
                         equipo == 'Mercedes' ? ' bg-secondary' :
                         equipo == 'Ferrari' ? ' bg-danger' :
                         equipo == 'McLaren' ? ' bg-warning text-dark' :
                         equipo == 'Alpine' ? ' bg-info text-dark' :
                         equipo == 'Aston Martin' ? ' bg-success' :
                         equipo == 'Williams' ? 'bg-light text-dark' :
                         equipo == 'Kick Sauber' ? ' bg-danger' :
                         equipo == 'Haas' ? '  bg-dark' :
                         equipo == 'Racing Bulls' ? 'bg-primary bg-gradient text-white' :
                          ' bg-dark'}">
        <img th:src="${imagen}" class="card-img-top" alt="Imagen del piloto">
        <div class="card-body">
            <h5 class="card-title" th:text="${titulo}">Título</h5>
            <p class="card-text" th:text="${descripcion}">Descripción</p>

            <div th:if="${acciones != null}">
                <div th:utext="${acciones}"></div>
            </div>
        </div>
    </div>
</div>

</body>

</body>
</html>

